/* FOOTER */
.edit_footer {
  color:white;
}
.edit_footer a{
  color:white;
}
.my_footer_color {
  background: linear-gradient(to bottom, rgba(64,159,247,1) 10%, rgba(54,151,247,1) 27%, rgba(35,136,246,1) 58%, rgba(20,125,245,1) 82%);
}
