// form decoration
.ms_form{
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 30px;
  background-color: white;
  border-radius: 4px;
  border-color: rgb(195, 195, 195);
  box-shadow: 10px 10px 26px -8px rgba(0,0,0,0.75);
}
// Text login page
.ms_text_center{
  margin-top: 3%;
  text-align: center;
  color: #555555;
}
